@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap&subset=latin-ext');


*{  box-sizing: border-box;
    margin:0;
    padding:0;
}

.App {
    font-family: 'Quicksand', sans-serif;
    color: white;
    margin: 0 auto;
    justify-content: center;
    width: 100vw;
  height: 700px;
    background-image: linear-gradient(#90F7EC,#4c2d80);
}

.form {
    position: relative;
}

.form__input {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    color: white;
    text-align: center;
    margin: 20px auto;
    width: 100%;
    border-style: none;
    background-color: transparent;
}

.form__input:focus {
    outline: none;
}

.form__button {
    font-family: 'Quicksand', sans-serif;
    position: absolute;
    right: 30px;
    top: 20px;
    background-color:transparent;
    border:none;
    width:20px;
    height: 20px;
    background-size: 100%;
}

.form__button:focus {
    outline: none;
}

.result {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
 }

.icon{
    width: 100px;
    height: 100px;
    background-size: 100%;
    margin:20px auto;
  
    background-size: 100%;
    color:white;
}

.temp {
    display: flex;
    flex-direction: row;
    margin: 5px auto;
 }


.temp__temp {
    width: 90px;
    height: 90px;
    font-size: 80px;
    margin:0 10px;
}

.temp__temp span {
    font-size: 32px;
    vertical-align: super;
}

.temp__minmax {
    width: 90px;
    height: 90px;
    padding: 5px;
    margin: 0 auto;
    font-weight: normal;
    line-height: 90px;
    font-size: 35px;
}

.temp__minmax span{
    vertical-align: super;
    font-size: 20px;
}

.date {
    font-size: 20px;
    font-weight: normal;
}

h1 {
    text-transform: capitalize;
    font-weight: normal;
    font-size: 38px;
    margin: 20px 0;
}

.param {
    width: 95%;
    margin: 20px auto;
    border-radius: 5px;
}

h2 {
    font-size: 20px;
    font-weight: normal;
    line-height: 2.2em;
}

@media only screen and (min-width: 500px) {
.App{
    width: 500px;
   }
}